.header {
  width: 100%;
  background-color: #C62828;
  height: 120px;
  padding: 24px;
  margin-bottom: 48px;
  
  h1 {
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
