/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

html, body, * {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.app-container {
  padding: 48px;
}

fieldset {
  border: none;
  margin-bottom: 16px;
  text-align: left;

  > label {
    font-size: 24px;
    font-weight: bold;
  }
  
  > input {
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 16px;
  }
}

.page-title {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.default-btn {
  background-color: #FDD835;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  outline-style: none;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  cursor: pointer;

  &.-big {
    font-size: 24px;
  }
}
